@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.navbar {
  display: flex;
  flex-direction: column;
  width: 250px;
  height: 100dvh;
  padding: 25px;
  box-sizing: border-box;
  border-right: 1px solid #e5e7eb;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease;

  z-index: 1000;
  overflow: hidden;
}

.navbar.open {
  transform: translateX(0);
}


.sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  z-index: 999;
}

.close-sidebar {
  position: absolute;
  top: 6px;
  right: -48px;
  background: rgba(0,0,0, 0.25);
  color:white; 
  border: 1px solid white;
  border-radius: 20%;
  cursor: pointer;
  padding: 8px;

}

.sidebar-signIn {
  margin-top: auto;
  padding-top: 20px;
}

.sidebar-signIn a {
  color: rgb(9, 104, 246);
  text-decoration: underline;
  font-size: 18px;
}


.topbar {
  display: flex;
  align-items: center;
  gap: 20px;
  height: 70px;
  top: 0;
  padding: 0 40px;
  background: white;
  border-bottom: 2px solid #e5e7eb;
  position: sticky;
  z-index: 800; 
}

.topbar button {
  background: none;
  border: none;
  cursor: pointer;
  padding: 5px;
}


.search-bar {
  flex: 1;
  max-width: 1000px;
  padding: 10px 16px;
  border: 1px solid black;
  border-radius: 25px;
  outline: none;
  margin-left: 100px;
}

@media (max-width: 600px) {
  .topbar {
    gap: 10px;
    padding: 0 15px;
  }

  .navbar-title {
    font-size: 1.1rem;
  }

  .search-bar {
    margin-left: 0;
    min-width: 0;
    width: 100%;
    padding: 8px 12px;
  }
}



.navbar-links {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.nav-link {
  padding: 12px;
  border-radius: 10px;
  color: black;
  transition: background-color 0.2s ease;
  font-weight: bold;
}

.nav-link:hover {
  background-color: #eef4ff;
}

.nav-link.active {
  background-color: #2563eb;
  color: white;
}

.navbar-title {
  color: #2563eb;
  font-size: 1.5rem;
  font-weight: bold;
}

.app-name-left {
  color: rgb(27, 42, 74);
}
.app-name-right {
  color: rgb(212, 98, 26);
}


.table-title {
  background-color: white;
  text-align: left;
  padding: 16px;
  color: #d4621a;
}

.table-row {
  border-top: 1px solid #e5e7eb;
}

.table-row:hover {
  background-color: #f3f4f6;
}




/* Dashboard */

.dashboard {
  flex: 1;
  padding: 24px 40px;
  background: #F3F4F6;
  min-height: 100vh;
}
.dashboard-wrapper {
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
  width: 100%;

}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
  margin-bottom: 35px;
}

.graph {
  height: 320px;
}
.name-title {
  color: rgb(27, 42, 74);
  font-weight: bold;
  font-size: 20px;

}

.value-title {
  font-size: 28px;
  margin-top: 12px;
  font-weight: bold;
  color: rgb(212, 98, 26);
  
}

.card-values {
  color: rgb(212, 98, 26);
  font-weight: bold;
}


/* Scan page */

.scan-page {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100dvh - 70px);
  position: relative;
}


.scan-button, .upload-button {
  color: white;
  background-color: rgb(9, 104, 246);
  border-radius: 1000px;
  font-size: 20px;
  padding: 16px 32px;
  cursor: pointer;
  border: none;
  font-weight: bold;
  display:flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.scan-button, .upload-button, .scan-line {
  width: 350px;
  max-width: 80%;
}

.scan-button:active, .upload-button:active {
  background-color: rgb(3, 82, 219);
}

.scan-line {
  height: 1px;
  background-color: black;
  margin: 24px 0;
}

.scan-desc {
  color: black;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  max-width: 350px;
  margin-bottom: 30px;
  width: 90%;
  line-height: 1.5;

  position: absolute;
  top: 40px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

.scan-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.camera-page {
  position: relative;
  width: 100vw;
  height: calc(100dvh - 70px);
  overflow: hidden;
  background: black;
}

.camera-tools {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.video-cam {
  width: 100%;
  height: calc(100dvh - 190px);
  max-width: 400px;
  border-radius: 12px;
  aspect-ratio: 4/3;
  object-fit: cover;
}

.capture-button {
  width: 78px;
  height: 78px;
  border-radius: 50%;
  background: transparent;
  border: 5px solid white;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.capture-circle {
  width: 62px;
  height: 62px;
  border-radius: 50%;
  background: white;
}

.capture-button:active .capture-bar {
  transform: scale(0.95);
}


.review-image {
  width: 90%;
  max-width: 500px;
  height: auto;
  object-fit: cover;
  border-radius: 12px;
  display: flex;
  margin: 0 auto;
}

.review-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 20px;
  min-height: 100vh;
  justify-content: center;
}

.review-title {
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.review-content {
  width: 100%;
  max-width: 400px;
  background: #EBEBEB;
  border-radius: 14px;
  padding: 24px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.7);
  display: flex;
  flex-direction: column;
  gap: 18px;
  margin-top: -75px;
}
.review-form {
  width: 90%;
  max-width: 400px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.review-form input,
.review-form textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid gray;
  border-radius: 10px;
  font-size: 16px;
  outline: none;
}

.review-form textarea {
  height: 120px;
  resize: none;
}

.review-buttons {
  display: flex;
  gap: 15px;
  width: 100%;
  margin-top: 12px;
}

.review-buttons button {
  flex: 1;
  padding: 14px;
  border-radius: 999px;
  font-size: 18px;
  font-weight: bold;
  cursor: pointer;
}

.save-button {
  background-color: green;
  color: white;
  border: 2px solid green
}

.cancel-button {
  background-color: red;
  color: white;
  border: 2px solid red;
}

.review-buttons button:active {
  transform: scale(0.96);
}


.review-camera {
  position: fixed;
  inset: 0;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: black;
  overflow: hidden;
  z-index: 900;
}

.preview-image {
  width: 100%;
  height: calc(100dvh - 100px);
  object-fit: cover;
  border-radius: 12px;
}

.photo-buttons {
  display: flex;
  width: 100%;
  height: 100px;
  min-height: 100px;
  gap: 20px;
  justify-content: center;
  align-items: center;
  background: black;
  flex-shrink: 0;
}

.retake-button,
.confirm-button {
  padding: 12px 25px;
  border-radius: 999px;
  border: none;
  background:#5E5E5E;
  color: white;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
}


.confirm-button {
  padding-left: 35px;
  padding-right: 35px;
}




.actions-buttons {
  display: block;
  white-space: nowrap;
  text-align: left;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.inventory-button {
  height: 42px;
  padding: 0 18px;
  border-radius: 999px;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;

  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  white-space: nowrap;
}


.share-button {
  background-color: #d4621a;
  color: white;
}

.inven-scan-button {
  background-color: #3b82f6;
  color: black;
  min-width: 140px;
  max-width: 140px;
}

.share-icon {
  width: 18px;
  height: 18px;

}

.scan-icon {
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  margin-right: -6px;
}

@media (max-width: 640px) {

  .inventory-button {
    height: 36px;
    padding: 0 12px;

    font-size: 13px;
  }


  .button-icon {
    width: 15px;
    height: 15px;
  }

}

.copy-button {
  background-color: #1b2a4a;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 9999px;
  cursor: pointer;
  transition: all 0.15s ease-in-out;
}

.copy-button:active {
  transform: scale(0.95);
}

.sharelink-copied {
  position: fixed;
  top: 80px;
  left: 50%;
  transform: translateX(-50%);

  display: flex;
  align-items: center;
  justify-content: center;

  min-width: 350px;
  max-width: 350px;
  height: 46px;
  padding: 0 16px;
  
  background-color: white;
  border-radius: 8px;
  box-shadow: rgba(0,0,0,0.1) 0px 0px 24px 0px;
  
  z-index: 100;

  opacity: 0;
  pointer-events: none;

  transition: opacity 0.5s ease, transform 0.5s ease;
}

.sharelink-copied.show {
  opacity: 1;
  transform: translate(-50%, 0);
}


.family-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 24px;
}

@media (max-width: 600px) {
  .family-grid {
    grid-template-columns: 1fr 1fr;
    gap: 16px;
  }
}

.family-item-card {
  background: white;
  border-radius: 8px;

  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 12px rgba(0,0,0,0.08);
  border: 1px solid #d1d5db;
  min-width: 0;

}

.family-card-image {
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  min-height: 220px;
  overflow: hidden;
  margin-bottom: 6px;
  cursor: pointer;
}
.family-card-image img, .family-card-image-placeholder {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.family-card-image-placeholder {
  background-color: #D3D3D3;
}

.family-card-status {
  position: absolute;
  bottom: 0%;
  left: 0px;
  background: #B59410;
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 4px 8px;
  width: 100%;
  font-style: italic;
}

.family-card-title {
  color: #1b2a4a;
  font-size: 12px;
  margin-left: 6px;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;

  cursor: pointer;

}

.family-card-interested {
  display: inline-flex;
  align-items: center;
  width: fit-content;

  background: #90ee90;
  color: black;
  font-weight: bold;
  font-size: 11px;
  margin: 4px 0 8px 6px;
  padding: 2px 8px;
  border-radius: 999px;
}

.interested-button {
  width: 95%;
  padding: 5px;
  margin-left: 6px;
  margin-bottom: 4px;
  margin-top: -2px;
  border: none;
  background-color: #d4621a;
  color: white;
  font-weight: bold;
  cursor: pointer;
  border-radius: 999px;

  transition: 0.2s ease;

}

.interested-button:hover {
  opacity: 0.9;
}
